<div id="navbar">

  <div id="nom">
  Grégoire POTAUX
  </div>

  <i class="fa-brands fa-github" id="img_gh"></i>

  <ul id="sommaire">
    <li class="element_navbar"> Présentation</li>
    <li class="element_navbar"> Mes projets</li>
    <li class="element_navbar"> Mes qualités d'apprentis</li>
    <li class="element_navbar"> Mon CV</li>
  </ul>
</div>

<div id="présentation"></div>

  <div id="titre_pres">
  Je me présente, je m'appelle Grégoire
  </div>

  <div id="texte_pres">
  Developpeur full stack junior en recherche d’une alternance,
  je suis récemment certifié par le Wagon Lille. <br>
  Je cherche une entreprise avec qui établir une relation de confiance afin
  d’y réaliser mon alternance et si possible bien plus.
  </div>

  <%= image_tag "moi.JPG", id: "image_moi" %>

</div>

<div id="projets">

  <div id="titre_projet">
  Mes projets
  </div>

  <%= image_tag "logo_js.png", id: "logo_js" %>

  <%= image_tag "rails logo.png", id: "logo_rails" %>

  <%= image_tag "logo_heroku.png", id: "logo_heroku" %>

  <%= image_tag "html_logo.png", id: "logo_html" %>

  <%= image_tag "css_logo.png", id: "logo_css" %>

    <div id="paws">
  <%= image_tag "paws_login.png", id: "paws_screen" %>
    </div>

    <div id="airspas">
  <%= image_tag "airspas_home.png", id: "home_airspas" %>
    </div>
</div>


<div id="qualite_apprenti">

  <div id="titre_qualite">
  Mes qualités d'apprentis
  </div>

</div>


<div id="cv">

  <div id="titre_cv">
  Mon CV
  </div>

</div>

<div id="footer">
  <%= image_tag "gmail.png", id: "logo_gmail" %>
  <div id="contact">Mes contacts</div>
  <%= image_tag "linkedin.png", id: "logo_linkedin" %>
<div>
